#header{

top: fixed;
margin-top: -20px;
line-height: 2;
font-family: 'Parisienne', cursive;

}

#copy_right_footer{

width: 100%;
position: fixed;
bottom: 0px;
background-color: rgb(205, 151, 255);
color: white;
font-family: 'Parisienne', cursive;
line-height: 8;
text-align: center;

}

canvas{

border: 2px white solid;
border-radius: 20px;
box-shadow: 5px 5px 5px black;
background-color: rgb(135, 213, 255) !important;
margin-top: -40px; ;

}

video{

margin-top: 80px;

}